@import "../../styles//Responsive.scss";
.navbar {
  display: flex;
  align-items: center;
  padding: 33px 133px;
  justify-content: space-between;

  @include Mobile{
    display: none;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 4rem;

    .navLinks {
      display: flex;
      align-items: center;
      gap: 27px;
      a {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16.002px; /* 114.3% */
        letter-spacing: 1.4px;
        text-transform: uppercase;
      }
    }
  }
}

.mobile {
  padding: 24px;
  display: none;

  @include Mobile{
    display: block;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobileNavLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 40px;
    padding-top: 98px;
    display: none;

    .link {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 32px */
      letter-spacing: 1.4px;
      text-transform: uppercase;
    }
  }
}
