@import "../../../styles//Responsive.scss";
.wraps {
  padding-inline: 133px;
  padding-top: 126px;

  @include Mobile {
    padding-inline: 1rem;
    padding-top: 0;
  }
  .dr {
    display: flex;
    align-items: center;
    gap: 180px;

    @include Mobile {
      flex-direction: column;
      margin-top: 80px;
      gap: 61px;

      .phoney {
        width: 60%;
      }
    }
    &.bottom {
      margin-top: 140px;
      flex-direction: row-reverse;

      @include Mobile {
        flex-direction: column-reverse;
        margin-top: 86px;
      }

      .left {
        width: 500px;

        @include Mobile {
          width: 100%;
        }
      }
    }

    .lappy {
      @include Mobile {
        display: none;
      }
    }

    .heroImgM {
      display: none;
      @include Mobile {
        display: block;
      }
    }

    .left {
      display: flex;

      .lp {
        margin-left: -7rem;
        transform: translateY(2rem);
      }
    }

    .right {
      h2 {
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: 55.02px;
        margin-bottom: 19px;

        @include Mobile {
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: 36px;
        }
      }

      .text {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32.004px;
        margin-bottom: 2rem;
      }

      .itemWraps {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .item {
          display: flex;
          align-items: center;
          gap: 17px;

          .detais {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 32.004px;
          }
        }
      }
    }
  }
}
