@import "../../../styles//Responsive.scss";

.ff {
  padding-block: 50px;
  @include Mobile {
    padding-inline: 1rem;
   }

  .text {
    width: 100%;
    text-align: center;
    margin-bottom: 34px;
  }

  .companyWraps {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include Mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
     }
  }
}
